Q1. **Get the positions where elements of a and b match**

Input:

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

Output:

(array([1, 3, 5, 7]),)

In [16]:
# Write code for Q1 here
import numpy as np
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
a
b
for i in range(10):
  if(a[i]==b[i]):
    print(i)

1
3
5
7

Q2. **Get all items between 5 and 10 from a.**

a = np.array([2, 6, 1, 9, 10, 3, 27])

In [70]:
# Write code for Q2 here
import numpy as np
a=np.array([2,6,1,9,10,3,27])
print(a)
result=a[(a>=5)*(a<=10)]
print("Values are: ",result)

[ 2  6  1  9 10  3 27]
Values are:  [ 6  9 10]

Q3. **Swap columns 1 and 2 in the array arr.**

arr = np.arange(9).reshape(3,3)

In [7]:
# Write code for Q3 here
import numpy as np
arr=np.arange(9).reshape(3,3)
print(arr)
arr[:,[1,2]]=arr[:,[2,1]]
arr

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[0, 2, 1],
       [3, 5, 4],
       [6, 8, 7]])

Q4. Reverse the rows of a 2D array arr.

arr = np.arange(9).reshape(3,3)

In [20]:
import numpy as np
arr=np.arange(9).reshape(3,3)
print(arr)
arr[[0,2],:]=arr[[2,0],:]
arr

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

Q5. Find the 5th and 95th percentile of iris's sepallength
Note - Find input code in the next cell

In [22]:
import numpy as np
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])
sepallength
print("5th percentile of iris sepal length is ", np.percentile(sepallength,5))
print("95th percentile of iris sepal length is ", np.percentile(sepallength,95))

# Write code for Q5 here

5th percentile of iris sepal length is  4.6
95th percentile of iris sepal length is  7.254999999999998

Q6. Find the positions of NaN in the sepalLength numpy array

In [69]:
# This is the input of your question
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float')
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan

sepalLength=iris_2d[:,0]
# This is the sepalLength
print(sepalLength)
#Calulating the position of Nan in the sepalLength array
i=np.argwhere(np.isnan(sepalLength))
print("Position of nan is:",i)


# Write your code here
# Hint - You can use the isNan() function.

[5.1 4.9 nan 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 5.7 6.3 4.9 6.6 5.2 5.  5.9 6.  6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 6.3 5.6 5.5
 5.5 6.1 5.8 5.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 nan 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 nan
 6.2 6.1 6.4 7.2 7.4 7.9 nan 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]
Position of nan is: [[  2]
 [106]
 [125]
 [132]]

Q7 .Replace all the null values with 0 in the above used sepalLength array

In [33]:
import numpy as np
#Replacing all the null values with O in the sepalLength array
sepalLength[np.isnan(sepalLength)]=0
sepalLength

[5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 0.  6.3 4.9 6.6 5.2 5.  5.9 6.  0.  5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 0.  5.6 5.5
 5.5 6.1 5.8 0.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 7.2
 0.  6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 0. , 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 0. , 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 0. , 5.6, 5.5, 5.5,
       6.1, 5.8, 0. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 0. , 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

Q8. Find the 2nd largest value for the given array.

In [18]:
# Input
import numpy as np
arr=np.random.randint(23,78, size=9).reshape(3,3)
print(arr)
a=np.unique(arr)[-2]
a



# Write your code here

[[38 71 71]
 [45 39 76]
 [69 38 43]]

71

Q9. From the array a, replace all values greater than 30 by 30 and less than 10 by 10.

In [46]:
# Input
arr=np.random.randint(1,78, size=9).reshape(3,3)
print(arr)
arr[arr>30]=30
arr[arr<10]=10
arr


# Write your code here

[[ 4 36 34]
 [61 28 22]
 [ 7  8 24]]

array([[10, 30, 30],
       [30, 28, 22],
       [10, 10, 24]])

Q10. Drop all nan values from a 1D numpy array

In [49]:
arr=np.array([1,2,3,np.nan,5,6,7,np.nan])
print(arr)
arr=arr[~np.isnan(arr)]
arr

[ 1.  2.  3. nan  5.  6.  7. nan]

array([1., 2., 3., 5., 6., 7.])